.sidebar
    position: sticky
    width: 0
    height: 0

    top: 0px
    left: 0px

    transition: all 0.25s

    z-index: 2

    .stickybar
        position: sticky

        top: 0px
        left: 0px

        display: flex
        flex-direction: row

        transition: all 0.25s
        height: 70vh
        padding-top: 15vh

        &.open
            width: 35vw

        &.closed
            width: 3vw

        &:before
            display: inherit

            background: repeating-linear-gradient(to right,#cfba95 ,#aa8f5f 7%,#aa8f5f 5%)
            
            content: ""
            height: 100%
            width: 90%

        &.open:before 
            display: none

        .container
            display: flex
            align-items: center

            transition: width, height, box-shadow 0.75s
            background-image: url("/assets/textures/book_outside_texture.jpg")
            background-size: cover
            background-repeat: no-repeat
            
            box-sizing: border-box

            &.open
                width: 100%
                height: 100%
            
                border-top-right-radius: 30px
                border-bottom-right-radius: 30px
                overflow: hidden

                
            &.closed
                width: 20%
                height: 100%

                border-top-right-radius: 10px
                border-bottom-right-radius: 10px
            
            &:before
                display: inherit
                content: ""
                width: 90%
                height: 95%

                margin-bottom: 3.5%

                box-shadow: 5px 5px 0px 0px #3a3023, 10px 10px 0px 0px #29231c, 15px 15px 0px 0px #161513, 15px 15px 0px 0px #161615

                background-image: url("/assets/textures/book_texture.jpg")
                background-size: cover
                background-repeat: no-repeat

                border-top-right-radius: 5px
                border-bottom-right-radius: 5px

            &.closed:before 
                display: none
            
            &:after
                content: ""
                display: flex
                position: absolute
                width: 100%
                height: 70vh
                box-shadow: inset 60px 0px 30px 0px #000
                border-top-right-radius: 5px
                border-bottom-right-radius: 5px

                left: -20%
                animation: spawn-shadow 200ms linear forwards


            &.closed:after
                display: none

        .openbutton
            position: absolute
            background: url("/assets/textures/book_outside_texture.jpg"), linear-gradient(to bottom, #4E3B31, #A67C5D)
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3)

            border: 2px solid #2e251e
            border-left: 7px solid #2e251e
            border-bottom-right-radius: 20px
            z-index: 3

            transition: all 0.25s
            
            .btn
                display: flex

                cursor: pointer

                align-items: center
                justify-content: center

                width: 100%
                height: 100%

                font-family: "Lucida Console", "Courier New", monospace
                font-size: 40px

                transition: all 0.25s

                &.open:hover 
                    animation: arrow-left 1000ms linear infinite
                &.closed:hover 
                    animation: arrow-right 1000ms linear infinite
                

            &.open
                width: 8%
                height: 5%

                left: 90%
                top: 23%

            &.closed
                width: 70%
                height: 5%

                left: 50%
                top: 23%
        
        .bookmark
            position: absolute
            display: flex

            cursor: pointer

            align-items: center
            justify-content: center
            box-shadow: 4px 4px 5px rgba(32, 32, 32, 0.7)

            background-image: url("/assets/textures/paper_texture.png")
            background-repeat: no-repeat
            background-size: cover

            border-bottom-right-radius: 20px

            width: 70%
            height: 5%

            transition: all 0.5s
            border: 2px solid #2e251e
            border-left: 7px solid #2e251e

            img
                transition: all 0.5s
                width: 80%
                height: 80%
                border-radius: 30%

            &.open
                display: none
            
            &:hover img
                transition: all 0.5s
                background: rgba(255, 255, 255, 0.2)
                transform: scale(1.05)

            &.closed
                animation: slide-from-left 0.7s forwards
                

            .tooltip
                isolation: isolate

                display: flex
                position: absolute
                width: 0%
                height: 70%
                left: 80%
                background-image: url("/assets/textures/paper_texture.png")
                background-repeat: no-repeat
                background-size: cover
                align-items: center
                justify-content: center
                transition: all 1s
                opacity: 0
                border-radius: 10px

                //border: 2px solid #2e251e
                //border-left: 0px solid #2e251e
                box-shadow: 4px 4px 5px rgba(32, 32, 32, 0.7)
                font-family: 'Brush Script MT', cursive
                font-size: 20px

                animation: disappear-tooltip 0.55s forwards

                z-index: -1
                
            &:hover .tooltip
                transition: all 1s
                animation: appear-tooltip 0.55s forwards
                
                
@keyframes appear-tooltip
    0%
        opacity: 0
        width: 0%
        color: rgba(0, 0, 0, 0)

    70%
        color: rgba(0, 0, 0, 0)

    100%
        opacity: 1
        width: 400%
        color: #000000

@keyframes disappear-tooltip
    0%
        opacity: 1
        width: 400%
        color: #000000
        

    30%
        color: rgba(0, 0, 0, 0)

    100%
        opacity: 0
        width: 0%
        
@keyframes slide-from-left
    0%
        opacity: 0
        transform: translateX(-300px) scaleX(0)

    10%
        opacity: 0
        transform: translateX(-300px) scaleX(0)

    100%
        opacity: 1
        transform: translateX(0px) scaleX(1)


@keyframes arrow-right 
    0% 
        transform: translateX(0px)
        opacity: 1
		
    100% 
        transform: translateX(10px)
        opacity: 0

@keyframes arrow-left 
    0% 
        transform: translateX(0px)
        opacity: 1
		
    100% 
        transform: translateX(-10px)
        opacity: 0


@keyframes spawn-shadow
    0% 
        left: -20%
        opacity: 0.7
		
    100% 
        left: 0
        opacity: 1