<div class="background-wrapper">
	<div class="first-section">
		<div class="invisible-header">
			<a class="loginText" href="/profile" [ngStyle]="{'visibility': this.accountHandler.loggedIn ? 'visible' : 'hidden'}">
				Welcome back
			</a>
			<div class="listHeader" [ngStyle]="{'visibility': !this.accountHandler.loggedIn ? 'visible' : 'hidden'}">
				<a class="headersBtns" href="/login#register">
					Register
				</a>
				<a class="headersBtns" id="loginBTN" href="/login#login" >
					Login
				</a>
			</div>
			<div class="Dungeon-Title">
				
			</div>
		</div>
		<div class="main-page">
			<div class="starter-welcome text">
				<img src="/assets/images/title.png">
				<a class="join-button" href="/login">
					<img src="/assets/images/join_button.png">
				</a>
			</div>
		</div>

		<div class="arrow-pulse-down" #secondSectionElem (click)="showSection(secondSectionElem)"></div>
	</div>
	<div class="second-section">

	</div>
</div>
