<div class="background-wrapper">
	<div class="invisible-header">
		<div class="sidebar-button">
			<img src="/assets/images/sidebar-button.png" alt="image">
		</div>
		<div class="Dungeon-Title">
			<img src="/assets/images/title.png" alt="image">
		</div>
	</div>
	<div class="main-page">
		<div class="starter-welcome text">
			<p>Welcome to the ultimate</p>
			<img src="/assets/images/dnd.png">
			<p>experience</p>
			<a class="join-button" href="/login">Join the adventure</a>
		</div>
	</div>
</div>
