<div class="background-wrapper">
	<div class="first-section">
		<div class="invisible-header">
			<div class="Dungeon-Title">
				
			</div>
		</div>
		<div class="main-page">
			<div class="starter-welcome text">
				<img src="/assets/images/title.png">
				<a class="join-button" href="/login">
					<img src="/assets/images/join_button.png">
				</a>
			</div>
		</div>

		<div class="arrow-pulse-down" #secondSectionElem (click)="showSection(secondSectionElem)"></div>
	</div>
	<div class="second-section">

	</div>
</div>
